.container{
    width:50%;
    height: 500px;
    margin:0 auto;
    border:1px solid #000;
    display: grid;
    padding:5%;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, minmax(100px, auto));
    justify-items: center;
    .item{
        
        width: 30%;
        &1{
            border:1px solid aqua;
        }
        &2{
            border:1px solid red;
        }
        &3{
            border:1px solid rgb(44, 128, 128);
        }
        &4{
            border:1px solid rgb(161, 192, 120);
        }
    }

    .btn{
        flex:1;
       
    }


}