.container {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  display: -ms-grid;
  display: grid;
  padding: 5%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (minmax(100px, auto))[2];
      grid-template-rows: repeat(2, minmax(100px, auto));
  justify-items: center;
}

.container .item {
  width: 30%;
}

.container .item1 {
  border: 1px solid aqua;
}

.container .item2 {
  border: 1px solid red;
}

.container .item3 {
  border: 1px solid #2c8080;
}

.container .item4 {
  border: 1px solid #a1c078;
}

.container .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
